.searchBox{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 3%;
    background-color: rgb(173, 173, 218);
    border-radius: 8px;
    
}

.input{
    width: 16%;
    height: 3vh;
}